
h1
{
   
	text-align: center;
    margin-left: auto;
    margin-right: auto;
	font-family: "Times New Roman", Times, serif;
    background-color:#d0d0e1;
 

}

img
{
   
    display: block;
    margin-left: auto;
    margin-right: auto; 
    width: 20%;
   
  
}
